
<% include ./partials/header %>

<div class="ui main text container "><h3>This is home page</h3>
<div class="ui inverted segment">
      
        <div class="two fields">
      <div class="field">
          <a href="/register">Sign Up!</a>
          </div>
             <div class="field">
<a href="/login">Login!</a>>
 </div>
  <div class="two fields">
      <div class="field">
<a href="/logout">Logout!</a>
    </div>
    <div class="field">
<a href="/chat">Chat</a>
    </div>
    </div>
    </div>
    </div>
    </div>

<% include ./partials/footer %>